footer {
    max-width: 1440px;
    margin-top: 65px;
}

#footer-main-container{
    height: 187px;
}

.footer-main-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
    color: rgba(53, 36, 44, 0.8);
}

#vertical-bar-separator{
    padding-left: 24px;
    padding-right: 24px;
}

#by-clau-rios{
    margin-top: 24px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #8F3F4E;
}

#line {
    border: 1px solid rgba(53, 36, 44, 0.1);
}